extends ../layout
block content
  h1 Welcome to just another breakable nodejs toy
  #users You can find the following services:
     span We have an amazing RESTful API. Your entry point is <a href="rest/v1/">rest/v1/</a> as your entry point
  